<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic2 - DigitalOcean Spaces Upload
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let upload of uploads">
      {{ upload.name }} <br/>
      {{ upload.status }} <br/>
      <p *ngIf="upload.status != 'complete'">
        {{ (upload.loaded / upload.total * 100).toFixed(1) }}%
      </p>
      <div *ngIf="upload.status != 'complete'" class='loader' 
        [style.width]="(upload.loaded / upload.total * 100).toFixed(1) + '%'"
        style='width: 0%; border-top:3px solid blue;'>
        &nbsp;
      </div>
      <p *ngIf="upload.status == 'complete'">
        <a href='{{ upload.link }}' target='_blank'>
          {{ upload.link }}
        </a>
      </p>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <input style='display:none;' type='file' #fileInput (change)="uploadFileViaHtmlFileInput($event)" accept="image/*"/>
    <button ion-button block (click)="uploadBtnClicked()">Upload Photo</button>
  </ion-toolbar>
</ion-footer>
